# Bridgetown
output
.bridgetown-cache
.bridgetown-metadata
.bridgetown-webpack
.routes.json

# Dependency folders
node_modules
bower_components
vendor

# Caches
.sass-cache
.npm
.node_repl_history

# Ignore bundler config.
/.bundle

# Ignore Byebug command history file.
.byebug_history

# dotenv environment variables file
.env

# Mac files
.DS_Store

# Yarn
yarn-error.log
yarn-debug.log*
.pnp/
.pnp.js
# Yarn Integrity file
.yarn-integrity

# Don't commit the transient SQLite DB
doge.sqlite

# Deciding to keep the _data files I generate out of the repo
# src/_data/people.yml
# src/_data/positions.yml
# src/_data/agencies.yml
# src/_data/aliases.yml
# src/_data/documents.yml
# src/_data/events.yml
# src/_data/questions.yml
# src/_data/system_roles.yml
# src/_data/systems.yml

src/shoelace-assets
jit-refresh.css
.zed/settings.json
