openapi: 3.0.4
info:
  title: DOGE Track API
  description: |-
    This is an API for the data on dogetrack.info. Since it is a series of statically-generated files, there is no API key required!
  termsOfService: https://dogetrack.info/about/this-site/
  contact:
    email: mail@jacobharr.is
  license:
    name: Open Data Commons Attribution License (ODC-By)
    url: https://opendatacommons.org/licenses/by/1-0/
  version: "0.9.0"
externalDocs:
  description: DOGE Track
  url: https://dogetrack.info/
servers:
- url: https://dogetrack.info/api/
paths:
  /aliases.json:
    get:
      summary: aliases.json
      description: Information about all the DOGE aliases in the system, including evidence and
        identifications
      operationId: getAliases
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AliasRecord'
  /agencies.json:
    get:
      summary: agencies.json
      description: A listing of all the agencies in DOGE track with summary information.
      operationId: getAgencies
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgencyRecord'
  /agencies/{id}.json:
    get:
      summary: agencies/{slug}.json
      description: Returns a single agency.
      operationId: getAgency
      parameters:
      - name: slug
        in: path
        description: id of the agency to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgencyItem'
  /events.json:
    get:
      summary: events.json
      description: Returns all events
      operationId: getEvents
      responses:
        '200':
          description: "Successful return"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventRecord'
  /people.json:
    get:
      summary: people.json
      description: A listing of all the people in DOGE Track with summary information.
      operationId: getPeople
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PersonItem'
  /people/{slug}.json:
    get:
      summary: people/{slug}.json
      description: Find a person by their slug
      operationId: getPerson
      parameters:
      - name: slug
        in: path
        description: slug of the person to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonRecord'
  /systems.json:
    get:
      summary: systems.json
      description: A listing of all the systems in DOGE Track.
      operationId: getSystem
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SystemRecord'
components:
  schemas:
    AccessType:
      enum:
      - source-code
      - read
      - read-write
      - admin
      - unknown
    AoType:
      enum:
      - director
      - deputy
      - cio
      - cto
      - isso
      - other
      - unknown
    CategoryType:
      description: The categories of DOGE people
      enum:
      - booster
      - leadership
      - enabler
      - support
      - wrecker
      - unknown
    TruthType:
      description: Valid values for the precision assessment on dates in positions.
      enum:
      - verified
      - reported
      - inferred
      - guessed
      - disputed
    EventType:
      enum:
      - action
      - directory
      - sighting
      - disruption
      - interagency
      - legal
      - onboard
      - offboard
      - oversight
      - access
      - official
      - milestone
      - other
      - report
    PositionType:
      enum:
      - appointed
      - detailed
      - consultant
      - internal
      - converted
      - promotion
      - demotion
      - unknown
    SystemType:
      enum:
      - internal
      - saas
      - ssp
      - unknown
    ExitType:
      enum:
      - fired
      - resigned
      - detail_ended
      - replaced
      - removed
      - unknown
    AliasRef:
      type: object
      properties:
        id:
          type: string
        person:
          $ref: '#/components/schemas/PersonRef'
      required:
      - id
    AliasRecord:
      type: object
      properties:
        id:
          description: "The unique ID for the alias"
          type: string
        evidence:
          type: array
          description: An array of evidence for the alias identification (each item is a string in
            Markdown format)
          items:
            type: string
        person:
          $ref: '#/components/schemas/PersonRef'
        agency:
          $ref: '#/components/schemas/AgencyRef'
      required:
      - id
      - evidence
      - agency
    AgencyRef:
      type: object
      properties:
        id:
          type: string
          example: USDA
        name:
          type: string
          example: Department of Agriculture
        short_name:
          type: string
          example: Agriculture
        parent_id:
          type: string
          example: nil
        path:
          description: The location of the full record for the agency
          type: string
          example: 'https://dogetrack.info/api/usda.json'
      required:
      - id
      - name
      - short_name
      - path
    AgencyItem:
      allOf:
      - $ref: '#/components/schemas/AgencyRef'
      - type: object
        properties:
          num_events:
            type: integer
          num_positions:
            type: integer
          num_doge:
            type: integer
        required:
        - num_events
        - num_positions
        - num_doge
    AgencyRecord:
      allOf:
      - $ref: '#/components/schemas/AgencyRef'
      - properties:
          events:
            type: array
            items:
              $ref: '#/components/schemas/EventRecord'
          positions:
            type: array
            items:
              $ref: '#/components/schemas/PositionRecord'
          systems:
            type: array
            items:
              $ref: '#/components/schemas/SystemRecord'
    EdtfType:
      type: string
      description: A date in ISO 8601 Extended Date Time Format representation
    EventRecord:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/EventType'
        date:
          $ref: '#/components/schemas/EdtfType'
        sort_date:
          type: string
          description: A date in ISO 8601 format
        text:
          type: string
        fuzz:
          type: string
        comment:
          type: string
        source:
          type: string
        source_name:
          type: string
        case_no:
          type: string
        agencies:
          type: array
          items:
            $ref: '#/components/schemas/AgencyRef'
        people:
          type: array
          items:
            $ref: '#/components/schemas/PersonRef'
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/AliasRef'
      required:
      - id
      - type
      - date
      - text
      - source
      - agencies
    PersonRef:
      type: object
      properties:
        name:
          type: string
        sort_name:
          type: string
        slug:
          type: string
        path:
          description: The URL for the full person record
          type: string
      required:
      - name
      - sort_name
      - slug
      - path
    PersonItem:
      allOf:
      - $ref: '#/components/schemas/PersonRef'
      - properties:
          category:
            $ref: '#/components/schemas/CategoryType'
          skill:
            type: string
          govt_start_date:
            $ref: '#/components/schemas/EdtfType'
          govt_exit_date:
            type: string
          num_events:
            type: integer
          num_positions:
            type: integer
          agencies:
            type: array
            items:
              $ref: '#/components/schemas/AgencyRef'
        required:
        - num_events
        - num_positions
    PersonRecord:
      allOf:
      - $ref: '#/components/schemas/PersonRef'
      - properties:
          age:
            type: integer
          blurb:
            type: string
          reporting_notes:
            type: string
          comment:
            type: string
          govt_exit_date:
            type: string
          govt_exit_truth:
            $ref: '#/components/schemas/TruthType'
          govt_exit_type:
            $ref: '#/components/schemas/ExitType'
          table_note:
            type: string
          tech_links:
            type: string
          linkedin:
            type: string
          events:
            type: array
            items:
              $ref: '#/components/schemas/EventRecord'
          positions:
            type: array
            items:
              $ref: '#/components/schemas/PositionRecord'
          systems_accessed:
            type: array
            items:
              $ref: '#/components/schemas/SystemAccessRecord'
          aliases:
            type: array
            items:
              type: string
        required:
        - events
        - positions
    PositionRecord:
      type: object
      properties:
        id:
          type: string
        "type":
          $ref: '#/components/schemas/PositionType'
        agency_id:
          type: string
        doge_alias_id:
          type: string
        from_agency_id:
          type: string
        from_truth:
          $ref: '#/components/schemas/TruthType'
        start_date:
          $ref: '#/components/schemas/EdtfType'
        start_date_truth:
          $ref: '#/components/schemas/TruthType'
        end_date:
          $ref: '#/components/schemas/EdtfType'
        end_date_truth:
          $ref: '#/components/schemas/TruthType'
        end_type:
          $ref: '#/components/schemas/ExitType'
        sort_date:
          type: string
        nte_date:
          type: string
        nte_date_truth:
          $ref: '#/components/schemas/TruthType'
        signed_date:
          type: string
        fuzz:
          type: string
        appt_type_code:
          type: string
        appt_type:
          type: string
        pay_grade:
          type: string
        salary:
          type: string
        pd_code:
          type: string
        sge:
          type: boolean
        excepted:
          type: boolean
        title:
          type: string
        title_type:
          type: string
        series:
          type: string
        supervisory:
          type: boolean
        office:
          type: string
        source:
          type: string
        source_name:
          type: string
        reimbursed:
          type: boolean
        reimbursement_amount:
          type: string
        comment:
          type: string
        qualifications:
          type: string
        table_note:
          type: string
        replaced_by:
          description: "The ID the position replacing this one"
          type: string
        agency:
          $ref: '#/components/schemas/AgencyRef'
        from_agency:
          $ref: '#/components/schemas/AgencyRef'
        person:
          $ref: '#/components/schemas/PersonRef'
      required:
      - id
      - type
      - agency_id
      - agency
    SystemRecord:
      type: object
      description: Represents a single IT system in the government
      properties:
        id:
          description: A unique ID for the system
          type: string
        acronym:
          description: An acronym for the system. This may not be unique and might include whitespace and
            punctuation.
          type: string
        name:
          description: The name of the system
          type: string
        type:
          description: The type of the system
          $ref: '#/components/schemas/SystemType'
        description:
          description: A description for the system
          type: string
        comment:
          description: My non-public comments about the system
          type: string
        category:
          description: A category for the system
          type: string
        theme:
          description: A theme representing why DOGE is accessing this system
          type: string
        population:
          description: A short description of what type of people are in this system
          type: string
        risk:
          description: A short description of what sort of risks might happen because of DOGE's access to
            the system
          type: string
        link:
          description: A URL for information about the system
          type: string
        pia:
          description: A link to the Privacy Impact Assessment for the system if known
          type: string
        sorn:
          description: A link to a System of Records Notice (SORN) for the system if known
          type: string
        doge_created:
          description: True if DOGE created this system
          type: boolean
          default: false
        doge_modifications:
          description: A description of modifications that DOGE made to the system if known
          type: string
        agency:
          description: If not part of an Agency record, a reference to what agency this system belongs to.
          $ref: '#/components/schemas/AgencyRef'
        access:
          description: An array of system access records for this system
          type: array
          items:
            $ref: '#/components/schemas/SystemAccessRecord'
      required:
      - id
      - name
      - type
      - description
    SystemAccessRecord:
      type: object
      description: Represents a single access by a DOGE member against an IT system
      properties:
        id:
          description: A unique identifier for the system access
          type: string
        type:
          description: The type of access being granted
          $ref: '#/components/schemas/AccessType'
        date_requested:
          description: "If known, the date access was requested"
          $ref: '#/components/schemas/EdtfType'
        date_requested_truth:
          $ref: '#/components/schemas/TruthType'
        date_granted:
          $ref: '#/components/schemas/EdtfType'
        date_grant_truth:
          $ref: '#/components/schemas/TruthType'
        ao_name:
          description: The name of the authorizing official granting access
          type: string
        ao_title:
          description: The title of the authorizing official granting access"
          type: string
        ao_office:
          description: The office of the authorizing official
          type: string
        ao_type:
          description: The type of the authorizing official
          $ref: '#/components/schemas/AoType'
        ao_doge:
          description: Set to true if access was directly authorized by a DOGE member
          type: boolean
        ao_truth:
          $ref: '#/components/schemas/TruthType'
        date_last_used:
          description: "The date last used if provided"
          $ref: '#/components/schemas/EdtfType'
        date_used_truth:
          $ref: '#/components/schemas/TruthType'
        date_revoked:
          description: "The date access was revoked"
          $ref: '#/components/schemas/EdtfType'
        date_revoked_truth:
          $ref: '#/components/schemas/TruthType'
        date_nte:
          description: "The date access is not to exceed"
          $ref: '#/components/schemas/EdtfType'
        date_nte_truth:
          $ref: '#/components/schemas/TruthType'
        never_accessed:
          description: Set to true if the grantee was reported to never have accessed the data
          type: boolean
        source:
          description: The source URL for this info
          type: string
        source_name:
          type: string
        comment:
          description: For internal comments
          type: string
        table_note:
          description: Text to include in the display table
          type: string
        person:
          $ref: '#/components/schemas/PersonRef'
        agency:
          description: The agency for the access. For SSP and SaaS applications, this might be different
            than the system agency.
          $ref: '#/components/schemas/AgencyRef'
        system:
          $ref: '#/components/schemas/SystemRecord'
      required:
      - id
      - type
